.container-main{
    background: #090909;
    width: 100%;
    height: 92vh;
    
}

/* area 1*/

.main-apresentacao{
    display: flex;
    align-items: center;
    
    margin-left: 15vh;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}
.apresentacao h1{
    font-size: 20px;    
}

.apresentacao h2{
    font-size: 75px;
}

.apresentacao h3{
    font-size: 25px;
}
.img-code{
    display: flex;
    margin-left: 20%;
    width: 50%;
}

/* area 2 */

.container-secundario{
    height: 50vh;
    display: flex;
    background: #191919;
}
.container-secundario img{
    display: flex;
    padding-top: 20px;
    margin-left: 20vh;
    width: 430px;
    height: auto;
    margin-right: 250px;
}

.dados2 h1{
    padding-top: 100px;
    font-weight: 700;
    font-size: 55px;
    padding-left: 0%;
    text-align: center; 
    color: #f4f4f4;  
    line-height: 60px;
    background: yellow;
}

.dados2 h2{
    font-size: 25px;
    font-weight: 500;
    padding-left: 0%;
    text-align: center; 
    line-height: 20px;
    color: #06FFB2;;  
    background: blue;

}

.dados2 h3{
    padding-top: 50px;
    font-weight: 500;
    color: #f4f4f4;
    width: 900px;
    text-align: center;
    background: red;
}