/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    background: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}